<p *ngIf="id">Edit user {{user.username}} </p>
<p *ngIf="!id">Add user </p>
<form #userForm="ngForm"   (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="user.username"
           name="username"
           required
           appUsernameExist
           [disabled]="id"
           #usernameNgModel="ngModel"
           id ="form-input-username">
    <mat-error *ngIf="usernameNgModel.invalid">
      <span *ngIf="usernameNgModel.errors.required">username is required</span>
      <span *ngIf="usernameNgModel.errors.usernameExist">username exist</span>
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill" *ngIf="!id">
    <mat-label >Password</mat-label>
    <input matInput [(ngModel)]="user.password"
           name="password"
           required
           minlength="8"
           #passwordNgModel="ngModel"
           #passwordDom
           id ="form-input-password"
           type="password" >
    <mat-error *ngIf="passwordNgModel.invalid">
      <span *ngIf="passwordNgModel.errors.required">username is required</span>
      <span *ngIf="passwordNgModel.errors.minlength">username is short</span>
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>firstname</mat-label>
    <input matInput [(ngModel)]="user.firstName"
           name="firstname"
           id ="form-input-firstname">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>lastname</mat-label>
    <input matInput [(ngModel)]="user.lastName"
           name="lastname"

           id ="form-input-lastname">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]="user.email"
           name="email"
           pattern="[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+\.[a-z]{2,3}"
           id ="form-input-email"
           type="email" >
  </mat-form-field>
  <br>
  <mat-form-field >
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="user.role" name="role">
      <mat-option value="ADMIN">Admin</mat-option>
      <mat-option value="PROJECT_MANAGER">Responsable</mat-option>
      <mat-option value="DEVELOPER">Developpeur</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <button [disabled]="userForm.invalid"  mat-raised-button  type="submit" color="primary">
    <span *ngIf="!id">Add User</span>
    <span *ngIf="id">Edit User</span>
  </button>
  <br>
</form>
