<table mat-table [dataSource]="projects" class="mat-elevation-z8">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="responsable">
    <th mat-header-cell *matHeaderCellDef> Responsable </th>
    <td mat-cell *matCellDef="let element"> {{element.responsable}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team  </th>
    <td mat-cell *matCellDef="let element"> {{element.team}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

