<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [matMenuTriggerFor]="crudusers" class="menusside"><mat-icon>group</mat-icon> Users</a>
      <mat-menu #crudusers="matMenu">
        <a mat-menu-item routerLink="/users/add"><mat-icon>person_add</mat-icon>Add</a>
        <a mat-menu-item routerLink="/users/list"><mat-icon>list_alt</mat-icon>List</a>
      </mat-menu><br>
      <a mat-list-item  [matMenuTriggerFor]="crudprojects" class="menusside"><mat-icon>work</mat-icon>Projects</a>
      <mat-menu #crudprojects="matMenu">
        <a mat-menu-item routerLink="/projects/add"><mat-icon>post_add</mat-icon>Add</a>
        <a mat-menu-item routerLink="/projects/list"><mat-icon>list</mat-icon>List</a>
      </mat-menu><br>
      <a mat-list-item routerLink="/tasks" class="menusside"><mat-icon>note</mat-icon>Tasks</a><br>
      <a mat-list-item routerLink="/stats" class="menusside"><mat-icon>insert_chart</mat-icon>Statistics</a><br>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Task manger </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
